<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/modules.css" />
  <link rel="stylesheet" type="text/css" href="/styles/recipe.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Anton|Exo+2" rel="stylesheet">
  
</head>
<body>
 
  <div class="recipe-container">
      <span class="navbar-toggle" id="js-recipe-toggle">
          <i class="fa fa-bars"></i>
      </span>
      <div class="navigation-bar">
        <ul class="main-navigation" id="js-recipe">
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
        </ul>
      </div>

    

    <div class="recipe-header">
      <h1>Recipe</h1>
    </div>

    
    <div class="recipe-show">
      
      <% recipeArray.forEach((item, index) => { %>
        <form action="/picked-recipe/<%= item.recipe_id %>"" method = "post">
          <h3><%=item.recipe_title %></h3>
          <img src="<%=item.recipe_image %>" class="about-img"/> 
        
          <button type="submit" value= "<%=recipeArray[index].recipe_id %>" class="recipe-button">Select This Recipe</button>
        </form>
      <% }) %>   
        

    </div>
    
    <div class="recipe-footer">
        <p>CopyRight2018</p>
    </div>



  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
</body>
</html>