<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link href="/styles/reset.css" rel="stylesheet" type="text/css" />
	<link href="/styles/base.css" rel="stylesheet" type="text/css" />
	<link href="/styles/layout.css" rel="stylesheet" type="text/css" />
  <link href="/styles/module.css" rel="stylesheet" type="text/css" />
  <link href="/styles/layout.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="about-container">
    <div class="a">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
    </span>

    <div class="navigation-bar">
      <ul class="main-navigation" id="js-navigation">
        <li><a href="/views/index.ejs">Home</a></li>
        <li><a href="/views/pages/searches/inventory.ejs">My Recipes</a></li>
      </div> 
    </div>

    <div class="b">
      <h1>About Us</h1>
    </div>


    <div class="c">
        <h2> Dave Muench </h2>
        <p>When he's not busy flying around the world, stopping nefarious terrorist organizations and ruthless state actors for "The Feds," Dave can be found furiously hacking away at a laptop - usually with one of four cats trying to sleep on his keyboard -  writing grand and unreasonably dramatic storylines to appease his growing empire of dedicated wargamers across the globe.He is a Scorpio; loves kimchee and pinot noir... but not at the same time.</p>
        <img src="/styles/image/image_from_ios.jpg" alt="">
    </div>

    <div  class="d">
        <h2> Derrick Hwang </h2>
        <p>Derrick Hwang, has a background from financial asset management to business development. He is currently pursuing a tech development career spurred from his interest in data analytics and statistics. Statistical analytics has been one constant he maintained throughout his life, from his passion for his hobby baseball to his varying professional experiences.</p>
        <img src="/styles/image/derrick.JPG" alt="">
    </div>

    <div  class="e">
        <h2> Joyce Liao </h2>
        <p> Joyce is from a background of business administration and accounting. When she worked with the businesses, she was inspired how a software app can transform a business by improving its processes.  Joyce's curiosity and passion for software development has brought her here. </p>
            <img src="/styles/image/2-2.jpg" alt="">
    </div>

    <div  class="f">
        <h2> Zahra Mohamed </h2>
        <p>Zahra Mohamed is self-directed and motivated multi-cultural professional who works effectively in a dynamic environment with a background in investigative medicine. Her core goal in life is being able to contribute something of value to society and to be in a continuous learning process in becoming a better developer.</p>
        <img src="/styles/image/headahot.jpg" alt="">
    </div>

    <div  class="g">
      <p>CopyRight2018</p>
    </div>
    
  </div> <!-- class: container-->
  <script type="text/javascript" src="/app.js"></script>
</body>

</html>