<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link href="https://fonts.googleapis.com/css?family=Mali:700" rel="stylesheet">
	<link href="/styles/reset.css" rel="stylesheet" type="text/css" />
	<link href="/styles/base.css" rel="stylesheet" type="text/css" />
	<link href="/styles/layout.css" rel="stylesheet" type="text/css" />
	<link href="/styles/module.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  
    <div class="container">
				<span class="navbar-toggle" id="js-navbar-toggle">
						<i class="fa fa-bars"></i>
				</span>
			<div class="navigation-bar">
				<ul class="main-navigation" id="js-navigation">
					<li><a href="/views/pages/searches/inventory.ejs">My Recipes</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li></li>
				</ul>
			</div>

	<div class="main-button">
		<h1>Gotta Eat!</h1>
		<form action="/get-id" method="get">
			<input class = "input-home"type="text" name="search" placeholder="Enter Ingredient" required="required" />
			<button  class ="button-home" type="submit">Search For Recipe</button>
		</form>
	</div>


	<div class="footer">
			<p>CopyRight2018</p>
		</div>
    </div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>