<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link href="https://fonts.googleapis.com/css?family=Mali:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="/styles/module.css" />
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Anton|Exo+2" rel="stylesheet">

</head>

<body>
  <div>
    <h1> An Error Has Occurred!</h1>


  
  
  </div>

</body>
</html>