
/* INDEX EJS STYLING */

.container{
	display: grid;
	grid-template-columns: 10vw 80vw 10vw;
	grid-template-rows: 10vw 80vw 10vw;
	grid-gap: 1em;
}

.navigation-bar, .footer{
	grid-column: 1 / span 4;
}

.inventory-banner{
	grid-column: 1 / span 3;
}

.main-button{
	grid-column: 2/3;
	grid-row: 2/3;
	margin-top: 35%;
}

input.input-home {
	font-size: 16px;
	margin-bottom: 15px;
}

button.button-home {
	font-size: 16px;
}

.footer {
background: #333;}

/* ABOUT US PAGE STYLING */

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }


.about-container {
  /* width: 100%; */
	display: grid;
	grid-row-gap: 10px;
  /* justify-content: start; */
	/* grid-template-rows: auto; */
	
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c d d"
    "e e f f"
    "g g g g";
}

.a {
	background-color: #333;
	width: 100%;
	height: 80px;
	line-height: 80px;
   }

.b {
	width: 100%;
	height: 80px;
}


/* HOME PAGE MOBILE VIEW */
@media (max-width: 480px) {
	.main-banner, .main-button{
		grid-column: 1 / span 4;
	}
	.about-container {
		  /* display: grid;
		  grid-row-gap: 10px; */
		  
		grid-template-areas:
		  "a a a a"
		  "b b b b"
		  "c c c c"
		  "d d d d"
		  "e e e e"
		  "f f f f"
		  "g g g g";
	}
}

/* INVENTORY MOBILE VIEW */
@media (max-width: 700px){
	.inventory-banner, .inventory-button{
		grid-column: 1 / span 4;
	}
}

/* ABOUT MOBILE VIEW */
@media (max-width: 700px){
	.about-text {
		width: 500px;
		background-color: pink;
	  }

}




