/*

* Navigation Bar

*/

.navigation-bar{
    background-color: #333;
    top: 10px;
}

.navigation-bar li{
    text-align: center;
    margin: 15px auto;
}

.navigation-bar a{
    float: center; 
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}




.bookmark p{
  text-align: right;
}

.bookmark a{
  float: left; 
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}
.navbar-toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.bookmark-toggle{
  right: 5px;
  
  cursor: pointer;
  color: #333;
  font-size: 24px;
}
.main-navigation{
    list-style-type: none;
    display: none;
}
.main-bookmark li{
font-size: 24px;
font-family: 'Mali';
font-style: italic bolder;
padding-top: 20px;

}
.main-bookmark{
  list-style-type: none;
  display: none;
  
}
.main-bar{
  padding-top: 15vh;
  text-align: center;
}
.active{
    display:block;
    -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
}

/* 

* Banner Section

*/



.inventory-banner {
    background-image: url(image/open-refrige.png);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4)
}
.recipe-banner {
  background-image: url(image/refrige-open.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inventory-banner > h1{
  /* opacity: 1;
  color: black;
  z-index: 100;
  display: block; */
}


.inventory-banner> h1{
  color: black;
}


.main-button a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
}

/* .landingPageButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    font-size: 20px;
    font-family: PT Sans Narrow;
    text-shadow: 2px 10px black;
} */


#popup {
  background: rgba(100, 100, 100, 0.6);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#popup > form{
  border-radius: 10px;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
  padding: 30px 15px;
  /* Width of popup can be changed */
  width: 70%;
  max-width: 600px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
}

.about-img {
  width: 300px;
}

.about-text {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.button-home{
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.input-home{
  margin-bottom:1%; 
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
}


