.recipe-container {
	display: grid;
	grid-template-columns:10vw 80vw 10vw;
    /* grid-template-rows: 10vw 80vw 10vw; */
    grid-template-rows: 50px 80px 2000px;
    grid-gap: 1em;
}

.recipe-header {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: space-evenly;
}

.recipe-show{
    grid-column: 1/4;
    grid-row: 3/4;
}

.navigation-bar, .recipe-footer {
    grid-row: 1/2;
	grid-column: 1/4;
}

.result-footer {
    grid-column: 1/4;
}


.recipe-footer, .result-footer {
    background: #333;
}

.recipe-img {
    width: 40vw;
}

.recipe-button {
	grid-column: 2/3;
	grid-row: 2/3;
	justify-content: space-evenly;
}

.recipe-h1 {
    font-size: 7vw;
    font-family: 'Mali';
}

.result-h1 {
    font-size: 5vw;
    font-family: 'Mali';
}

h3 {
    font-size: 2.5vw;
    font-family: 'Mali';
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    font-family: 'Exo 2';
    font-weight: bolder;
}

.result-container {
	display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 50px 80px 650px;
    grid-gap: 1em;
}

.result-header {
    grid-column: 1/4;
    grid-row: 2/3;
}

.result-show{
    grid-column: 1/4;
    grid-row: 3/4;
}


.about-img {
    width: 350px;
}

.recipe-button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 5px 25px;
}

.result-button{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 5px 25px;
}

.result-img {
    border: 10px solid rgb(49, 39, 39);
    padding: 10px;
    border-radius: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}
