.recipe-container {
	display: grid;
	grid-template-columns:5vw 5vw 70vw 10vw;
	grid-template-rows: 5% 3% 85% 7%;
    grid-gap: 1em;
}

.recipe-nav {
    grid-column: 3/4;
    grid-row: 1/2;
}

.recipe-header {
    grid-column: 3/4;
    grid-row: 2/3;
}

.recipe-show{
    grid-column: 3/4;
    grid-row: 3/4;
}

.recipe-footer{
    grid-column: 3/4;
    grid-row: 4/5;
}

.about-img {
    width: 350px;
}

.recipe-button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 5px 25px;
}

h1 {
    font-size: 45px;
    font-family: 'Mali';
}

h3 {
    font-size: 25px;
    font-family: 'Mali';
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    font-family: 'Exo 2';
    font-weight: bolder;
}

.result-container {
	display: grid;
	grid-template-columns:5vw 5vw 70vw 10vw;
	grid-template-rows: 5% 3% 85% 7%;
    grid-gap: 1em;
}

.result-nav {
    grid-column: 3/4;
    grid-row: 1/2;
}

.result-header {
    grid-column: 3/4;
    grid-row: 2/3;
}

.result-show{
    grid-column: 3/4;
    grid-row: 3/4;
}

.result-footer{
    grid-column: 3/4;
    grid-row: 4/5;
}

.about-img {
    width: 350px;
}

.recipe-button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 5px 25px;
}

.result-button{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 5px 25px;
}

.result-img {
    border: 10px solid rgb(49, 39, 39);
    padding: 10px;
    border-radius: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}
